Source: ros-jazzy-easynav
Section: misc
Priority: optional
Maintainer: Francisco Martín Rico <fmrico@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-easynav-common, ros-jazzy-easynav-controller, ros-jazzy-easynav-core, ros-jazzy-easynav-interfaces, ros-jazzy-easynav-localizer, ros-jazzy-easynav-maps-manager, ros-jazzy-easynav-planner, ros-jazzy-easynav-sensors, ros-jazzy-easynav-support-py, ros-jazzy-easynav-system, ros-jazzy-easynav-tools, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-easynav
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-easynav-common, ros-jazzy-easynav-controller, ros-jazzy-easynav-core, ros-jazzy-easynav-interfaces, ros-jazzy-easynav-localizer, ros-jazzy-easynav-maps-manager, ros-jazzy-easynav-planner, ros-jazzy-easynav-sensors, ros-jazzy-easynav-support-py, ros-jazzy-easynav-system, ros-jazzy-easynav-tools, ros-jazzy-ros-workspace
Description: Easy Navigation:Mata package for installing all EasyNav.
